version: "3.3"
services:
  expense-java:
    image: joatmon08/expense:java
    restart: always
    environment:
      JAEGER_HOST: jaeger
    networks:
      vpcbr:
        ipv4_address: 10.5.0.4
    ports:
      - 8080:8080
  expense_proxy_java:
    image: joatmon08/consul-envoy:1.6.3-1.11.1
    restart: always
    environment:
      CONSUL_HTTP_ADDR: 10.5.0.2:8500
      CONSUL_GRPC_ADDR: 10.5.0.2:8502
      SERVICE_CONFIG: /config/expense-java.hcl
      CENTRAL_CONFIG_DIR: /central_config
    volumes:
      - "./service_config:/config"
      - "./central_config:/central_config"
    command: ["consul", "connect", "envoy","-sidecar-for", "expense-java"]
    network_mode: "service:expense-java"
  expense_agent_java:
    image: consul:1.6.3
    restart: always
    command: ["consul","agent","-config-file=/config/agent.hcl","-config-dir=/config"]
    volumes:
      - "./consul_agent_config:/config"
    network_mode: "service:expense-java"

networks:
  vpcbr:
    external:
      name: expense-report_vpcbr